@import url('https://fonts.googleapis.com/css?family=Dosis|Josefin+Sans|Titillium+Web');

* {
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
	font-family: 'Dosis', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
	
	--fontpadrao:'Titillium Web','Dosis','Josefin Sans', sans-serif; 
	--corpadrao: rgb(1,51,89);
	--corbackground: white;

	list-style: none;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}